.btn{
    width: 5rem;
    height: 1.7rem;
    margin: 0 0.2rem;
    padding: 0;
    border: none;
    color: #fff;
    background-color: #fb2d68;
}
.btn:focus{
    outline: none;
}
.btn-success{
    background-color: #57ae4f;
}
.btn-warning{
    background-color: #fb2d68;
}
 .btn-primary{
     background-color: #4fae9e;
 }